html{
    box-sizing: border-box;
    
}

body{
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul{
    margin: 0;
    padding: 0;
}


li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    max-width: 1366px;
    margin: 0 auto;
}


.header__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 24px 98px 0 98px;


}


.header__logo{
    padding-right: 118px;

}

.header__nav{
    display: flex;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
}


.header__nav-item{
    list-style-type: none;
    font: 500 16px/1 "Work Sans";
    font-style: normal;
    line-height: normal;
}

.header__nav-link{
    text-decoration: none;
    color: #151C22;
}


.hero{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 75px;
}


.hero__slider{
    margin-left: 89px;
}

.hero__description{
    max-width: 668px;
    background-color: #F1F2F4;
    margin-bottom: 4px;
}

.prev,
.next{
    border: none;
    background-color: transparent;
    margin-bottom: 44%;
}

.images-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 21px;
    width: 400px;
}

.descr-container{
    margin: 60px 0 0 70px;
}

.slides{
    display: flex;
    gap: 20px;
}

.size-container{
    display: flex;
    gap: 20px;
}

.slider-img{
    max-width: 85px;
    max-height: 113px;
}


.main-img{
    width: 100%;
    height: 100%;
}


.slider-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 54px
}


.descr-title{
    font: 700 32px/1 "Work Sans";
    font-style: normal;
    line-height: normal;
    color: #151C22;
    margin: 0;
    
}

.descr-text{
    font: 400 16px/1 "Work Sans";
    font-style: normal;
    line-height: normal;
    color: #151C22;
    padding: 29px 228px 0 0;
}

.colors-container{
    display: flex;
    align-items: center;
    gap: 29px;
    margin-top: 21px;
}

.descr-colors{
    color: #151C22;
    font: 500 18px/1 "Work Sans";
    font-style: normal;
    line-height: normal;
    margin-top: 46px;
}

.descr-color{
    width: 16px;
    height: 16px;
    border-radius: 50%;
}


.descr-color--blue{
    background-color: #B0C3C7;
}

.descr-color--dark-blue{
    background-color: #3B6392;
}

.descr-color--grey{
    background-color: #BFC3C8;
}

.descr-color--active{
    outline: 1px solid #B0C3C7;
    border: 3px solid white;
}

.size-container{
    display: flex;
    margin-top: 17px;
}

.descr-sizes{
    display: flex;
    font: 500 18px/1 "Work Sans";
    color: #151C22;
    font-style: normal;
    line-height: normal;
    margin-top: 36px
}

.descr-size{
    color: #727A82;
    font: 500 18px/1 "Work Sans";
    font-style: normal;
    line-height: normal;
}

.descr-size--active{
    color: #151C22
}

.descr-price{
    color: #151C22;
    font: 700 18px/1 "Work Sans";
    font-style: normal;
    line-height: normal;
    margin-top: 32px;
}


.descr-button{
    font: 700 16px/1 "Work Sans";
    font-style: normal;
    line-height: normal;
    color: #FFFFFF;
    background-color: #151C22;
    border: none;
    padding: 23px 55.5px;
    margin-top: 45px;
}


.gallery{
    margin: 122px 0 126px 0;
}

.gallery__container{
    margin: 0px 98px;
}

.title-view-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.gallery-items{
    justify-content: center;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 61px;

}

.gallery__title{
    font: 700 32px/1 "Work Sans";
    color: #151C22;
    font-style: normal;
    line-height: normal;
}

.gallery__view{
    position: relative;
    font: 500 18px/1 "Work Sans";
    color: #151C22;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    margin-right: 5px;

}

.gallery__view-new{
    display: none;
}

.gallery__view::before{
    content: "";
    position: absolute;
    width: 113%;
    right: -5px;
    height: 2px;
    top: 21px;
    background-color: #151C22;
}

.item-title{
    color: #151C22;
    font: 500 18px/1 "Work Sans";
    font-style: normal;
    line-height: normal;
    margin-top: 17px;
}

.item-price{
    color: #151C22;
    font: 700 16px/1 "Work Sans";
    font-style: normal;
    line-height: normal;
    margin-top: 7px;
}


.footer{
    background-color: #151C22;
}

.footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.footer__logo{
    margin-top: 49px;
    padding: 0px 647px;
}

.footer__menu{
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    row-gap: 27px;
    justify-content: center;
}

.footer__social{
    display: flex;
    gap: 31px;
    flex-wrap: wrap;
    margin: 32px 0 0 10px;
}

.footer__menu-item{
    font: 500 18px/1 "Work Sans";
    color: #FFF;
    font-style: normal;
    line-height: normal;
}

.footer__menu-link{
    color: #FFF;
}

.burger{
    display: none;
}

@media (max-width: 1315px) {
    .hero{
        justify-content: center;
    }

    .hero__slider{
        margin-left: unset;
    }

    .hero__description{
        margin-top: 50px;
    }
}



@media (max-width: 769px) {
    .header__container{
        margin: 25px 43px 0 45px;
    }

   

    .hero{
        justify-content: space-between;
        margin-top: 54px;
    }

    .hero__description{
        max-width: 369px;
        margin-bottom: 0;
        margin-top: unset;
    }

    .hero__slider{
        margin-left: 45px;
    }



    .main-img{
        object-fit: cover;
        object-position: top;
        width: 100%;
        height: 360px;
    }


    .slider-img{
        object-fit: cover;
        object-position: top;
        width: 151px;
        height: 99px;
        max-width: unset;
        max-height: unset;
    }

    .slides{
        flex-wrap: wrap;
    }


    .prev,
    .next{
    display: none;
    }

    .images-container{
        max-width: 324px;
        row-gap: 22px;
    }

    .descr-container{
        margin-left: 50px;
        margin-top: 43px;
    }

    .descr-title{
        font: 700 28px/1 "Work Sans";
        color: #151C22;
        font-style: normal;
        line-height: normal;
    }

    .descr-text{
        font: 400 14px/1 "Work Sans";
        color: #151C22;
        font-style: normal;
        line-height: normal;
        padding-right: 44px;
        padding-top: 29px;
    }

    .descr-colors{
        margin-top: 41px;
    }

    .descr-button{
        margin-top: 48px;
        padding: 23px 55.5px;
    }

    .gallery{
        margin-top: 94px;
        margin-bottom: 96px;
    }

    .gallery__container{
        margin: 0px 44px;
    }

    .gallery-items{
        justify-content: center;
        row-gap: 47px;
        column-gap: 31.5px;
        margin-top: 53px;
    }

    .gallery__title{
        font-size: 28px;
    }

    .gallery-img{
        width: 324px;
        height: 349px;
        object-fit: cover;
        object-position: top;
    }

    .footer__logo{
        margin-top: 17px;
        padding: 0px 348px;
    }

    .footer__menu{
        justify-content: center;
        row-gap: 34px;
        margin-top: 31px;
    }

    .social-img{
        width: 16px;
        height: 16px;
    }

    .footer__social{
        gap: 39px;
        margin-right: 11px;
        margin-top: 38px;
    }

    .footer__menu-item{
        margin-top: -3px;
    }
}


@media (max-width: 738px){
    .hero{
        justify-content: center;
    }

    .hero__slider{
        margin-left: unset;
    }

}

@media (max-width: 693px) {
    .hero__description{
        margin-top: 50px;
    }
}

@media (max-width: 321px) {
    .burger{
        display: block;
        position: relative;
        background-color: initial;
        border: none;

    }

    .burger__line{
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #151C22;

    }

    .burger__line:nth-child(1){
        top: 7px;
    }

    .burger__line:nth-child(2){
        top: 12px;
    }

    .burger__line:nth-child(3){
        top: 17px;
    }

    .header__nav--left{
        display: none;
    }

    .header__logo{
        padding-right: 0;
        padding-left: 55px;
    }

    .header__container{
        margin: 24px 16px 0 9px;
    }

    .header__nav{
        gap: 24px;
    }


    .search{
        width: 16px;
        height: 16px;
    }

    .basket{
        width: 18px;
        height: 16px;
    }

    .hero{
        justify-content: center;
        margin-top: 35px;
    }

    .hero__slider{
        display: flex;
        justify-content: center;
        width: 244px;
        margin-left: unset;
    }

    .hero__description{
        margin-top: 41px;
    }

    .slider-img{
        display: none;
    }

    .prev-btn,
    .next-btn{
        width: 11px;
        height: 16px;
    }

    .prev,
    .next{
    display: block;
    margin-bottom: 11%;
    
    }

    .slider-container{
        gap: 0;
        width: 306px;
    }

    .main-img{
        width: 244px;
        height: 310px;
    }

    .images-container{
        display: flex;
        justify-content: center;
    }

    .descr-container{
        margin-left: 15px;
        margin-top: 32px;
        margin-bottom: 41px;
    }

    .descr-title{
        font-size: 26px;
    }

    .descr-text{
        padding-top: 20px;
        padding-right: 31px;
    }

    .descr-colors{
        font-size: 16px;
        margin-top: 26px;
    }

    .colors-container{
        gap: 24px
    }

    .descr-sizes{
        font-size: 16px;
        margin-top: 32px;
    }

    .descr-size{
        font-size: 14px;
    }

    .size-container{
        gap: 26px;
    }

    .descr-price{
        margin-top: 29px;
        
    }

    .descr-button{
        margin-top: 30.5px;
    }

    .gallery{
        margin-bottom: 65px;
        margin-top: 52px;
    }

    .gallery__title{
        font-size: 26px;
    }

    .gallery__view{
        display: none;
    }

    .gallery__container{
        display: flex;
        flex-direction: column;
        margin: 0 16px;
    }

    .gallery-img{
        width: 130px;
        height: 160px;
    }

    .item-title{
        font-size: 16px;
        margin-top: 6px;
    }

    .item-price{
        font-size: 14px;
        margin-top: 5.5px;
    }

    .gallery-items{
        gap: 28px;
        row-gap: 23px;
        margin-top: 35px;
    }

    .gallery__view-new{
        display: inline-block;
        text-align: center;
        position: relative;
        font: 500 16px/1 "Work Sans";
        color: #151C22;
        font-style: normal;
        line-height: normal;
        text-decoration: none;
        margin-top: 31px;
    }

    .gallery__view-new::before{
        content: "";
        position: absolute;
        width: 24%;
        left: 110px;
        height: 2px;
        top: 21px;
        background-color: #151C22;
    }

    .gallery__view-new-container{
        display: flex;
        justify-content: center;
    }

    .footer__container{
        align-items: unset;
    }

    .footer__logo{
        margin-top: -2px;
        margin-left: 15px;
        padding: 0;
    }

    .footer__social{
        margin-left: 18px;
        gap: 34px;
    }

    .footer__menu{
        justify-content: unset;
        row-gap: 24px;
        column-gap: 72px;
        margin-top: 52px;
    }

    .footer__menu-item{
        margin-left: 15px;
    }

    .footer__menu-item:nth-child(2){
        order: 3;
        margin-right: 50px;
    }

    .footer__menu-item:nth-child(3){
        order: 5;
    }

    .footer__menu-item:nth-child(4){
        order: 4;
        margin-left: -6px;
    }

    .footer__menu-item:nth-child(5){
        order: 2;
    }

    .footer__menu-item:nth-child(6){
        order: 6;
    }


    .social-img{
        width: 20px;
        height: 20px;
    }

}